@font-face {
	font-family: 'ProximaBold';
    src: url('../font/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('../font/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaRegular';
    src: url('../font/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('../font/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	color: #fff;
	font-family: ProximaRegular, sans-serif;
	font-weight: normal;
}
.ba-intro {
	background: url(../img/bg.jpg) no-repeat 50%;
	background-size: cover;
	background-color: #000;
}
p,h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}
/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1064px;
	position: relative;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-header-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}
.ba-menu {
	background-color: #000;
}
.ba-menu-list {
	display: flex;
	list-style: none;
	align-items: center;
	margin: 0;
	padding: 0;
	font: 700 18px/1.2 ProximaBold, sans-serif;
}
.ba-menu-item + .ba-menu-item {
	margin-left: 10px;
}
.ba-menu-item {
	padding: 10px 15px;
	border: 1px solid transparent;
}
.ba-menu-item:hover {
	border: 1px solid #4b4b4b;
}
.ba-menu-list a {
	text-decoration: none;
	color: #fff;
}
.ba-menu-list img {
	padding-right: 11px;
}
.ba-intro {
	padding: 60px 0 0;
}
.ba-intro-title {
	position: absolute;
	top: 27px;
	right: 27px;
}
.ba-intro-title h1 {
	font: 700 36px/1.4 ProximaBold, sans-serif;
}
.ba-intro-title h2 {
	font: 400 24px/1.4 ProximaRegular, sans-serif;
}
.ba-intro-girl {
	display: block;
}
.ba-register {
	height: 100%;
	display: flex;
	align-items: flex-end;
}
.ba-register__table {
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.ba-register__list {
	list-style: none;
	margin: 0;
	padding: 0;
	font: 700 28px/1.3 ProximaBold, sans-serif;
}
.ba-register__item {
	display: flex;
	align-items: center;
	font-size: 28px;
}
.ba-register__item + .ba-register__item {
	padding-bottom: 10px;
}
.ba-register__item img {
	margin-right: 20px;
}
.ba-register__form {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.ba-register__form input {
	border: none;
	border-bottom: 1px solid #eaeaea;
	padding: 15px 20px;
	color: #000;
}
.ba-register__btn{
	border: none;
	padding: 15px 20px;
	background-color: #cc0000;
	border-bottom: 2px solid #ae0000;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.ba-register__btn:hover {
	background-color: #ff0000;
}
.ba-register__list {
	margin-bottom: 65px;
}
.ba-register__form {
	margin-bottom: 80px;
}
.ba-about {
	background: white url(../img/gb2.jpg) 50% no-repeat;
	border-bottom: 5px solid #EAEAEA;
	background-size: cover;	
	color: #666666;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
}
.ba-about-top {
	margin-bottom: 60px;
}
.ba-about-midle {
	margin-bottom: 65px;
}
.ba-about-login {
	text-decoration: none;
	color: #666666;
	font-weight: 700;
	padding-left: 10px;
	font-family: ProximaBold;
}
.ba-about-login:hover {
	text-decoration: underline;
}
.ba-about-tittle {
	color: #333;
	font: 700 36px/1.2 ProximaBold, sans-serif;
	position: relative;
}
.ba-about-dol {
	position: absolute;	
	top: -5px;
}
.ba-info {
	display: flex;
	align-items: center;
	padding: 20px;
}
.ba-info__img {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #cc0000;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	flex-shrink: 0;
	align-self: flex-start;
}
.ba-info__desc {
	text-align: left;
	padding-left: 20px;
	align-self: flex-start;

}
.ba-intro__desc {
	font-size: 18px;
	
}
.ba-intro__desc--bold {
	font-family: ProximaBold;
	font-weight: 700;
	color: #000;
}
.ba-about-grid {
	margin-bottom: 40px;
}
.ba-sec-bot {
	padding-top: 70px;
	padding-bottom: 70px;
	color: #666666;
	text-align: center;
}
.ba-sec-bot__title {
	font: 700 36px/1.2 ProximaBold, sans-serif;
	position: relative;
	color: #333;
}
.ba-sec-bot__title img {
	position: absolute;
	top: -10px;
}
.ba-footer__top	{
	background-color: #333;
	text-align: center;
	padding: 30px 0;
}
.ba-footer-sec {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ba-footer-text {
	font-size: 36px;
}
.ba-footer-btn{
	border: none;
	padding: 15px 50px;
	background-color: #cc0000;
	border-bottom: 2px solid #ae0000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	font: 700 18px/1.2 ProximaBold;
}
.ba-footer-btn:hover {
	background-color: #ff0000;
}
.ba-footer__bot {
	background-color: #000;
	font-size: 12px;
}
.ba-footer-list {
	list-style: none;
	display: flex;
}
.ba-footer-list li {
	padding-left: 15px;
}
.ba-footer-list a {
	text-decoration: none;
	color: #fff;
}
.ba-footer-list a:hover {
	color: #666666;
}